# #Part I -- Preprocessing

In [1]:
# Importing required modules-
import numpy as np
import pandas as pd
import matplotlib
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')
tqdm.pandas()
import seaborn as sns

In [3]:
# Reading the data-set
data=pd.read_csv("D:\DMDW project\pokedex_(Update.04.20).csv")

In [4]:
data.head()

,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,2,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,1,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [5]:
data.shape

(1028, 52)

In [6]:
data=data.drop(['german_name','japanese_name'],axis=1)

In [7]:
data.shape

(1028, 50)

In [8]:
data.loc[:400]

,pokedex_number,name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,0,0,0,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,335,Zangoose,3,0,0,0,Cat Ferret Pokémon,1,Normal,NaN,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
397,336,Seviper,3,0,0,0,Fang Snake Pokémon,1,Poison,NaN,...,2.0,1.0,2.0,0.5,1.0,1.0,1.0,1.0,1.0,0.5
398,337,Lunatone,3,0,0,0,Meteorite Pokémon,2,Rock,Psychic,...,0.0,0.5,0.5,2.0,1.0,2.0,1.0,2.0,2.0,1.0
399,338,Solrock,3,0,0,0,Meteorite Pokémon,2,Rock,Psychic,...,0.0,0.5,0.5,2.0,1.0,2.0,1.0,2.0,2.0,1.0
400,339,Barboach,3,0,0,0,Whiskers Pokémon,2,Water,Ground,...,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0,0.5,1.0

In [9]:
# filling the non-empty records
data.fillna(0).astype(bool).sum(axis=1)

0       46
1       46
2       46
3       45
4       45
        ..
1023    39
1024    40
1025    40
1026    41
1027    38
Length: 1028, dtype: int64

In [10]:
data.head()

,pokedex_number,name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,1,Bulbasaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,2,Ivysaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,3,Venusaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,Mega Venusaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,Charmander,1,0,0,0,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [11]:
data.astype(bool).sum(axis=0)

pokedex_number      1028
name                1028
generation          1028
is_sub_legendary      45
is_legendary          39
is_mythical           29
species             1028
type_number         1027
type_1              1028
type_2              1028
height_m            1028
weight_kg           1028
abilities_number    1027
ability_1           1028
ability_2           1028
ability_hidden      1028
total_points        1028
hp                  1028
attack              1028
defense             1028
sp_attack           1028
sp_defense          1028
speed               1028
catch_rate          1028
base_friendship      970
base_experience     1028
growth_rate         1028
egg_type_number     1024
egg_type_1          1028
egg_type_2          1028
percentage_male      997
egg_cycles          1028
against_normal       962
against_fire        1015
against_water       1012
against_electric     932
against_grass       1022
against_ice         1027
against_fight        962
against_poison       956
against_ground       872
against_flying      1028
against_psychic      958
against_bug         1027
against_rock        1028
against_ghost        902
against_dragon       966
against_dark        1028
against_steel       1027
against_fairy       1027
dtype: int64

In [12]:
data['name'] = data['name'].progress_apply(lambda x: x.split()[0])

100%|██████████████████████████████████████████████████████████████████████████████████████| 1028/1028 [00:00<?, ?it/s]

In [13]:
(data == 0).astype(int).sum(axis=0)

pokedex_number        0
name                  0
generation            0
is_sub_legendary    983
is_legendary        989
is_mythical         999
species               0
type_number           1
type_1                0
type_2                0
height_m              0
weight_kg             0
abilities_number      1
ability_1             0
ability_2             0
ability_hidden        0
total_points          0
hp                    0
attack                0
defense               0
sp_attack             0
sp_defense            0
speed                 0
catch_rate            0
base_friendship      58
base_experience       0
growth_rate           0
egg_type_number       4
egg_type_1            0
egg_type_2            0
percentage_male      31
egg_cycles            0
against_normal       66
against_fire         13
against_water        16
against_electric     96
against_grass         6
against_ice           1
against_fight        66
against_poison       72
against_ground      156
against_flying        0
against_psychic      70
against_bug           1
against_rock          0
against_ghost       126
against_dragon       62
against_dark          0
against_steel         1
against_fairy         1
dtype: int64

In [14]:
# dropping unnecessary columns
data=data.drop(data.columns[31:50],axis=1)

In [15]:
data.shape

(1028, 31)

In [16]:
data.head()

,pokedex_number,name,generation,is_sub_legendary,is_legendary,is_mythical,species,type_number,type_1,type_2,...,sp_defense,speed,catch_rate,base_friendship,base_experience,growth_rate,egg_type_number,egg_type_1,egg_type_2,percentage_male
0,1,Bulbasaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,65.0,45.0,45.0,70.0,64.0,Medium Slow,2,Grass,Monster,87.5
1,2,Ivysaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,80.0,60.0,45.0,70.0,142.0,Medium Slow,2,Grass,Monster,87.5
2,3,Venusaur,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,100.0,80.0,45.0,70.0,236.0,Medium Slow,2,Grass,Monster,87.5
3,3,Mega,1,0,0,0,Seed Pokémon,2,Grass,Poison,...,120.0,80.0,45.0,70.0,281.0,Medium Slow,2,Grass,Monster,87.5
4,4,Charmander,1,0,0,0,Lizard Pokémon,1,Fire,NaN,...,50.0,65.0,45.0,70.0,62.0,Medium Slow,2,Dragon,Monster,87.5

In [17]:
# dropping unnecessary columns
data=data.drop(['pokedex_number','is_sub_legendary','is_mythical','type_number','catch_rate'],axis=1)

In [18]:
data.head()

,name,generation,is_legendary,species,type_1,type_2,height_m,weight_kg,abilities_number,ability_1,...,sp_attack,sp_defense,speed,base_friendship,base_experience,growth_rate,egg_type_number,egg_type_1,egg_type_2,percentage_male
0,Bulbasaur,1,0,Seed Pokémon,Grass,Poison,0.7,6.9,2,Overgrow,...,65.0,65.0,45.0,70.0,64.0,Medium Slow,2,Grass,Monster,87.5
1,Ivysaur,1,0,Seed Pokémon,Grass,Poison,1.0,13.0,2,Overgrow,...,80.0,80.0,60.0,70.0,142.0,Medium Slow,2,Grass,Monster,87.5
2,Venusaur,1,0,Seed Pokémon,Grass,Poison,2.0,100.0,2,Overgrow,...,100.0,100.0,80.0,70.0,236.0,Medium Slow,2,Grass,Monster,87.5
3,Mega,1,0,Seed Pokémon,Grass,Poison,2.4,155.5,1,Thick Fat,...,122.0,120.0,80.0,70.0,281.0,Medium Slow,2,Grass,Monster,87.5
4,Charmander,1,0,Lizard Pokémon,Fire,NaN,0.6,8.5,2,Blaze,...,60.0,50.0,65.0,70.0,62.0,Medium Slow,2,Dragon,Monster,87.5

In [19]:
data=data.drop(data.columns[20:26],axis=1)

In [20]:
data.head()

,name,generation,is_legendary,species,type_1,type_2,height_m,weight_kg,abilities_number,ability_1,ability_2,ability_hidden,total_points,hp,attack,defense,sp_attack,sp_defense,speed,base_friendship
0,Bulbasaur,1,0,Seed Pokémon,Grass,Poison,0.7,6.9,2,Overgrow,NaN,Chlorophyll,318.0,45.0,49.0,49.0,65.0,65.0,45.0,70.0
1,Ivysaur,1,0,Seed Pokémon,Grass,Poison,1.0,13.0,2,Overgrow,NaN,Chlorophyll,405.0,60.0,62.0,63.0,80.0,80.0,60.0,70.0
2,Venusaur,1,0,Seed Pokémon,Grass,Poison,2.0,100.0,2,Overgrow,NaN,Chlorophyll,525.0,80.0,82.0,83.0,100.0,100.0,80.0,70.0
3,Mega,1,0,Seed Pokémon,Grass,Poison,2.4,155.5,1,Thick Fat,NaN,NaN,625.0,80.0,100.0,123.0,122.0,120.0,80.0,70.0
4,Charmander,1,0,Lizard Pokémon,Fire,NaN,0.6,8.5,2,Blaze,NaN,Solar Power,309.0,39.0,52.0,43.0,60.0,50.0,65.0,70.0

In [21]:
# dropping unnecessary columns
data=data.drop(['abilities_number','ability_hidden','ability_2','ability_1','species','base_friendship'],axis=1)

In [22]:
data.iloc[:400]

,name,generation,is_legendary,type_1,type_2,height_m,weight_kg,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,1,0,Grass,Poison,0.7,6.9,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,Ivysaur,1,0,Grass,Poison,1.0,13.0,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,Venusaur,1,0,Grass,Poison,2.0,100.0,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,Mega,1,0,Grass,Poison,2.4,155.5,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,Charmander,1,0,Fire,NaN,0.6,8.5,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Mega,3,0,Dragon,Fairy,1.5,20.6,590.0,75.0,110.0,110.0,110.0,105.0,80.0
396,Zangoose,3,0,Normal,NaN,1.3,40.3,458.0,73.0,115.0,60.0,60.0,60.0,90.0
397,Seviper,3,0,Poison,NaN,2.7,52.5,458.0,73.0,100.0,60.0,100.0,60.0,65.0
398,Lunatone,3,0,Rock,Psychic,1.0,168.0,460.0,90.0,55.0,65.0,95.0,85.0,70.0
399,Solrock,3,0,Rock,Psychic,1.2,154.0,460.0,90.0,95.0,85.0,55.0,65.0,70.0

In [23]:
data.describe()

,generation,is_legendary,height_m,weight_kg,total_points,hp,attack,defense,sp_attack,sp_defense,speed
count,1028.000000,1028.000000,1027.000000,1026.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000
mean,4.034047,0.037938,1.368939,69.819688,437.603700,69.587147,80.114898,74.507303,72.720545,72.161636,68.512171
std,2.234937,0.191139,3.381664,129.266962,121.719934,26.397009,32.387734,31.302129,32.691374,28.081599,29.808365
min,1.000000,0.000000,0.100000,0.100000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,2.000000,0.000000,0.600000,8.825000,330.000000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000
50%,4.000000,0.000000,1.000000,28.650000,455.000000,67.000000,76.000000,70.000000,65.000000,70.000000,65.000000
75%,6.000000,0.000000,1.500000,69.550000,510.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000
max,8.000000,1.000000,100.000000,999.900000,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,180.000000

In [24]:
data.type_2=data.type_2.fillna('Normal')
data= data.dropna(how='any',axis=0)

In [25]:
data.shape

(1026, 14)

In [26]:
data.iloc[400:]

,name,generation,is_legendary,type_1,type_2,height_m,weight_kg,total_points,hp,attack,defense,sp_attack,sp_defense,speed
401,Whiscash,3,0,Water,Ground,0.9,23.6,468.0,110.0,78.0,73.0,76.0,71.0,60.0
402,Corphish,3,0,Water,Normal,0.6,11.5,308.0,43.0,80.0,65.0,50.0,35.0,35.0
403,Crawdaunt,3,0,Water,Dark,1.1,32.8,468.0,63.0,120.0,85.0,90.0,55.0,55.0
404,Baltoy,3,0,Ground,Psychic,0.5,21.5,300.0,40.0,40.0,55.0,40.0,70.0,55.0
405,Claydol,3,0,Ground,Psychic,1.5,108.0,500.0,60.0,70.0,105.0,70.0,120.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,Zacian,8,1,Fairy,Steel,2.8,355.0,720.0,92.0,170.0,115.0,80.0,115.0,148.0
1023,Zacian,8,1,Fairy,Normal,2.8,110.0,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1024,Zamazenta,8,1,Fighting,Steel,2.9,785.0,720.0,92.0,130.0,145.0,80.0,145.0,128.0
1025,Zamazenta,8,1,Fighting,Normal,2.9,210.0,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1026,Eternatus,8,1,Poison,Dragon,20.0,950.0,690.0,140.0,85.0,95.0,145.0,95.0,130.0

In [27]:
# Exporting the cleaned data-set to 'Cleaned_data.csv'
data.to_csv("Cleaned_data.csv",index=False)